aiodns==3.0.0
aiohttp==3.8.1
aiosignal==1.2.0
asgiref==3.4.1
async-timeout==4.0.2
attrs==21.4.0
ccxt==1.66.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
cryptography==36.0.1
Django==4.0
django-environ==0.8.1
frozenlist==1.2.0
gunicorn==20.1.0
idna==3.3
multidict==5.2.0
mysqlclient==2.1.0
pycares==4.1.2
pycparser==2.21
PyJWT==2.3.0
requests==2.26.0
sqlparse==0.4.2
urllib3==1.26.7
yarl==1.7.2
